<% error = @goal.errors.key?(:game_id) && @goal.errors[:game_id].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :game_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :game_id, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:game_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @goal.errors.key?(:player_id) && @goal.errors[:player_id].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :player_id, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :player_id, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:player_id) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @goal.errors.key?(:assist_one) && @goal.errors[:assist_one].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :assist_one, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :assist_one, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:assist_one) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @goal.errors.key?(:assist_two) && @goal.errors[:assist_two].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :assist_two, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :assist_two, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:assist_two) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @goal.errors.key?(:period) && @goal.errors[:period].count > 0 %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :period, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :period, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:period) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:goals, :index), :class => 'btn btn-default' %>
</div>
