<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta name="viewport" content='width=device-width,initial-scale=1'/>
    <title><%= @title.present? ? "#{@title} | Hockey Stats" : "Hockey Stats" %></title>
    <%= favicon_tag "favicon.ico" %>
    <%= stylesheet_link_tag 'bootstrap', 'application' %>
  </head>
  <body>
    <nav class="navbar-inverse">
      <div class="container">
        <%= link_to 'Home', url(:base, :index), class: 'navbar-brand', title: 'Hockey Stats Home' %>
        <%= link_to 'Players', url(:players, :index), class: 'navbar-brand', title: 'Players' %>
        <%= link_to 'Games', url(:games, :index), class: 'navbar-brand', title: 'Games' %>
      </div>
    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <footer></footer>

    <%= javascript_include_tag 'chart.bundle.min.js' %>
    <%= javascript_include_tag 'jquery-1.11.0.min', (Padrino.env == :production ? 'bootstrap/bootstrap.min' : %w[bootstrap/affix bootstrap/alert bootstrap/button bootstrap/carousel bootstrap/collapse bootstrap/dropdown bootstrap/tooltip
    bootstrap/transition bootstrap/modal bootstrap/popover bootstrap/scrollspy bootstrap/tab]), :application %>

    <script type="text/javascript">
      var goals_per_game_canvas = document.getElementById('goals_per_game').getContext('2d');
      var goals_per_game_chart = new Chart(goals_per_game_canvas, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
          labels: <%= @list_game_ids.to_json.html_safe %>,
          datasets: [
            {
              label: "Goals",
              // backgroundColor: 'orange',
              borderColor: 'red',
              data: <%= @goals_per_game_array %>
            },
            {
              label: "Assist",
              borderColor: 'rgb(75, 192, 192)',
              data: <%= @assist_per_game_array %>
            },
            {
              label: "Plus Minus",
              backgroundColor: 'orange',
              borderColor: 'orange',
              data: <%= @plus_minus_per_game_array %>
            }
          ]
        },

        // Configuration options go here
        options: {}
      });
    </script>

  </body>
</html>
